.linkTerminar{
  text-decoration: underline;
  cursor: pointer;
}

.linkTerminar:hover{
  color: blue;
}
li.completed p{
  text-decoration: line-through;
  color: darkgreen;
}
ul {
  list-style: none;
  margin: 0  0 0 0;
  padding: 0 0 0 0;
  max-width: 70%;
  margin: 0 auto;
}
li{
  list-style: none;
  margin: 0  0 2px 0;
  padding: 0 0 0 0;  
}
li p {
  display: block;
  padding: 0 20px 0 100px;
  margin: 2px 0 2px 0;
}

li p span{
  cursor: pointer;
  font-weight: 100;
}
li p span.linkEliminar:hover{
  font-weight: bold;
  color: red;
}
li p span.linkTerminar{
  color: black;
  display:block;
  position: absolute;
  margin-left: -100px;
  font-size: 0.8rem;
  border: 1px solid lightgray;
  padding: 1px 2px;
}
li p span.linkEliminar{
  float: right;
}
